/* Simple CSS Reset */
:root {
  --theme-font: 'Alumni Sans Pinstripe';
  --theme-color: rgb(99, 99, 99);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  position: relative;
  height: 100%;
  font-family: sans-serif;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  outline: none;
  border: none;
  background: none;
}

a {
  text-decoration: none;
  color: inherit;
}
